<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">
	<title></title>
</head>
<body class='car' style = "background-image: url({{ url_for('static', filename='car.jpg') }})">
	<h1>Cars</h1>
	<div class="cars p">
		<p>The racing video game genre is the genre of video games, either in the first-person or third-person perspective, in which the player partakes in a racing competition with any type of land, water, air or space vehicles. They may be based on anything from real-world racing leagues to entirely fantastical settings. In general, they can be distributed along a spectrum anywhere between hardcore simulations, and simpler arcade racing games. Racing games may also fall under the category of sports games.</p>

	</div>

	<div class="top5">
		<H2> Top 5 games</H2>
	</div>
	<div class = 'top5c'>
		<p>Dirt Rally 2.0</p>
		<p>Assetto Corsa Competizione</p>
		<p>GTR 3</p>
		<p>Trials Rising</p>
		<p>Distance</p>
	</div>
</body>
</html>