<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">
	<title></title>
</head>
<body class = 'fps' style = "background-image: url({{ url_for('static', filename='fps.jpg') }})">
	<h1>FPS</h1>
	<div class="fps p">
		<p>FPS is a video game genre centered around gun and other weapon-based combat in a first-person perspective; that is, the player experiences the action through the eyes of the protagonist. The genre shares common traits with other shooter games, which in turn makes it fall under the heading action game. Since the genre's inception, advanced 3D and pseudo-3D graphics have challenged hardware development, and multiplayer gaming has been integral.</p>
	</div>
	
	<div class="top 5">
		<H2> Top 5 games</H2>
	</div>
	<div class = 'top5c'>
		<p>DOOM</p>
		<p>Destiny 2</p>
		<p>Titanfall 2</p>
		<p>Half-Life 2</p>
		<p>Overwatch</p>
	</div>
</body>
</html>