<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">
	<title></title>
</head>
<body class = 'mmorpg' style = "background-image: url({{ url_for('static', filename='wow.jpg') }})">
	<h1>MMO-RPG</h1>
	<div class="mmorpg p">
		<p>Massively multiplayer online role-playing games (MMORPGs) are a combination of role-playing video games and massively multiplayer online games in which a very large number of players interact with one another within a virtual world.

As in all RPGs, the player assumes the role of a character (often in a fantasy world or science-fiction world) and takes control over many of that character's actions. MMORPGs are distinguished from single-player or small multi-player online RPGs by the number of players able to interact together, and by the game's persistent world (usually hosted by the game's publisher), which continues to exist and evolve while the player is offline and away from the game.</p>
	</div>
	<div class="top 5">
		<H2> Top 5 games</H2>
	</div>
	<div class = 'top5c'>
		<p>World of Warcraft</p>
		<p>Final Fantasy 14: A Realm Reborn</p>
		<p>Guild Wars 2</p>
		<p>Star Wars: The Old Republic</p>
		<p>Elder Scrolls Online</p>
	</div>
</body>
</html>