<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">
	<title></title>
</head>
<body class = 'moba' style = "background-image: url({{ url_for('static', filename='mobaa.jpg') }})">
	<h1>Moba</h1>
	<div class="moba p">
		<p>Multiplayer online battle arena (MOBA), also known as action real-time strategy (ARTS), is a subgenre of strategy video games that originated as a subgenre of real-time strategy, in which a player controls a single character in a team who compete versus another team of players. The objective is to destroy the opposing team's main structure with the assistance of periodically-spawned computer-controlled units that march forward along set paths. Player characters typically have various abilities and advantages that improve over the course of a game and that contribute to a team's overall strategy. MOBA games are a fusion of action games, role-playing games and real-time strategy games, in which players usually do not construct either buildings or units.</p>
	</div>
	<div class="top 5">
		<H2> Top 5 games</H2>
	</div>
	<div class = 'top5c'>
		<p>League of Legends</p>
		<p>Heroes of the Storm</p>
		<p>Dota 2</p>
		<p>Smite</p>
		<p>Vainglory</p>
	</div>
</body>
</html>